<div class="home_container">
  <app-cards 
    gameImage="assets/bt-1.jpg"
    gameLabel="Open"
    gameType="Digital PS4"
    gamePrice="$199,00"
    ></app-cards>

    <app-cards 
    gameImage="assets/bt-4.jpg"
    gameLabel="Exclusive"
    gameType="Digital PS4"
    gamePrice="$299,00"
    ></app-cards>

    <app-cards 
    gameImage="assets/bt-5.jpg"
    gameLabel="Exclusive"
    gameType="Digital PS5"
    gamePrice="$399,00"
    ></app-cards>


    <app-cards 
    gameImage="assets/bt-hardline.jpg"
    gameLabel="BEST OF YEAR"
    gameType="Digital PS5"
    gamePrice="$399,00"
    ></app-cards>



    <app-cards 
    gameImage="assets/ac-cover.jpg"
    gameLabel="Exclusive"
    gameType="Digital PS5"
    gamePrice="$399,00"
    ></app-cards>
</div>
